<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rang 详情</title>
    <style>
        .container {
            max-width: 500px;
            border-radius: 4px;
            border: 1px solid #ccc;
            margin: 45px auto;
            outline: none;
            padding: 15px;
        }
    </style>
</head>
<body>
    <div class="print-container"></div>
    <div class="container" contenteditable="true">
        <p>这是内容</p>
        <p>这是内容</p>
        <p>这是内容</p>
        <p>这是内容</p>
        <p>这是内容</p>w
        <p>这是内容</p>
        <p>这是内容</p>
        <p>这是内容</p>
    </div>
    <div class="container">
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
</body>
</html>